
<div class="container">
  <app-navbar title="Dashboard"></app-navbar>
  <div class="row" style="margin-top: 30px">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="Display health record"
        headerIcon="description"
        redirect="PatientDisplay"
        linearColor="linear-gradient(60deg, #ffa726, #fb8c00)"
        boxShadow="0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="Insert into health record"
        headerIcon="get_app"
        redirect="PatientInsert"
        linearColor="linear-gradient(60deg, #66bb6a, #43a047)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4)">
      </app-figurecard>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <app-figurecard
        title="Give access to health record"
        headerIcon="thumb_up"
        redirect="PatientGiveaccess"
        linearColor="linear-gradient(60deg, #26c6da, #00acc1)"
        boxShadow="0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4)">
      </app-figurecard>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
